html{
    background-color: darkslategray;
    text-align: center;
}
h1{
    background-color: coral;
    width: 450px;
    margin: 40px auto;
}
p{
    border-style: double;
    margin: 20px auto;

}
p.date{
    text-align: right;
    width: 344.516px;
    padding: 10px;
}

img{
    width: 344.516px;
    margin: 20px auto;
}
div{
    border-style: double;
    margin: 20px auto;
    width: 344.516px;
    padding: 10px;
}
p.diary{
    border-width: 0px;
    width: 344.516px;
    padding: 10px;
    font-size: 17px;
}

@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}

#diary1{
    animation: blink-effect 1s step-end infinite;
}
